/*
 * The following styles override the default styles provided by TogetherJS.
 * The objective is to make the extension look more like native part of
 * ReviewBoard.
*/
#togetherjs-container.togetherjs {
  font-family: inherit;
}
#togetherjs-container.togetherjs a {
  color: #0000aa !important;
  font-size: 110% !important;
}
#togetherjs-container.togetherjs a:hover {
  text-decoration: none !important;
}
#togetherjs-container.togetherjs #togetherjs-audio-button.togetherjs-active {
  background-color: #555555 !important;
}
#togetherjs-container.togetherjs #togetherjs-buttons #togetherjs-share-button.togetherjs-active {
  background-color: #555555 !important;
}
#togetherjs-container.togetherjs #togetherjs-chat-button.togetherjs-active {
  background-color: #555555 !important;
}
#togetherjs-container.togetherjs #togetherjs-dock {
  background-color: #333333 !important;
}
#togetherjs-container.togetherjs #togetherjs-dock #togetherjs-buttons .togetherjs-button:hover {
  background-color: #555555;
}
#togetherjs-container.togetherjs #togetherjs-dock #togetherjs-dock-anchor img {
  display: none;
}
#togetherjs-container.togetherjs #togetherjs-menu {
  background-color: #333333;
  border: none;
  color: white;
  font-family: inherit;
  text-decoration: none;
}
#togetherjs-container.togetherjs #togetherjs-menu .togetherjs-hr {
  border-bottom: none;
}
#togetherjs-container.togetherjs #togetherjs-menu .togetherjs-menu-hr-avatar {
  border-bottom: none;
}
#togetherjs-container.togetherjs #togetherjs-menu .togetherjs-menu-item:hover {
  background-color: #555555;
}
#togetherjs-container.togetherjs #togetherjs-rtc-info section.togetherjs-buttons button {
  background-color: #e6e6e6 !important;
  border: 1px solid #ccc !important;
  border-bottom-color: #bbb !important;
  color: #333 !important;
  font-family: inherit;
  margin: 2px 2px 2px 0.2em !important;
  padding: 3px 8px !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) !important;
}
#togetherjs-container.togetherjs .togetherjs-modal header {
  background: #c6dcf3 !important;
  border-bottom: 1px solid #728eac !important;
  color: black !important;
  font-family: inherit;
  padding: 5px 0 0 10px !important;
  text-align: left !important;
}
#togetherjs-container.togetherjs .togetherjs-modal header button.togetherjs-close {
  border-left: 1px solid #728eac !important;
  height: 29px !important;
  margin: -5px 0 0 0 !important;
}
#togetherjs-container.togetherjs .togetherjs-modal section.togetherjs-buttons button.togetherjs-modal-dont-join,
#togetherjs-container.togetherjs .togetherjs-modal button.togetherjs-dismiss {
  background-color: #e6e6e6 !important;
  border: 1px solid #ccc !important;
  border-bottom-color: #bbb !important;
  color: #333 !important;
  font-family: inherit;
  margin: 2px 2px 2px 0.2em !important;
  padding: 3px 8px !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75) !important;
}
#togetherjs-container.togetherjs .togetherjs-notification {
  background: #fff;
  border: 1px #888a85 solid;
  padding-left: 15px;
}
#togetherjs-container.togetherjs .togetherjs-notification:hover {
  background-color: #fff;
}
#togetherjs-container.togetherjs .togetherjs-notification img.togetherjs-notification-logo {
  display: none;
}
#togetherjs-container.togetherjs .togetherjs-notification #togetherjs-chat-notifier-message .togetherjs-chat-item {
  font-family: inherit;
}
#togetherjs-container.togetherjs .togetherjs-notification #togetherjs-chat-notifier-message .togetherjs-chat-item .togetherjs-inline-text .togetherjs-person-name {
  font-family: inherit;
}
#togetherjs-container.togetherjs .togetherjs-notification #togetherjs-chat-notifier-message .togetherjs-chat-left-item {
  background: #fff;
}
#togetherjs-container.togetherjs .togetherjs-window {
  border: 1px #888a85 solid;
}
#togetherjs-container.togetherjs .togetherjs-window header {
  background: #c6dcf3 !important;
  border-bottom: 1px solid #728eac !important;
  color: black !important;
  font-family: inherit;
  padding: 5px 0 0 10px !important;
  text-align: left !important;
}
#togetherjs-container.togetherjs .togetherjs-window header button.togetherjs-close {
  border-left: 1px solid #728eac !important;
  height: 29px !important;
  margin: -5px 0 0 0 !important;
}
#togetherjs-container.togetherjs .togetherjs-window .togetherjs-share-link {
  background-color: #eeeeee;
  border: 1px black solid;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  font-size: 1.2em;
  margin: 0;
  padding: 2px;
}
#togetherjs-container.togetherjs .togetherjs-window .togetherjs-share-link:focus {
  border: 1px black solid !important;
}
.togetherjs-peer-scroll-position {
  height: 25px;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  z-index: 10000;
}
