span.file.broken {
    background-image: url('../img/icons/file-type/broken.png');
}
span.file.aac {
    background-image: url('../img/icons/file-type/aac.png');
}
span.file.ai {
    background-image: url('../img/icons/file-type/ai.png');
}
span.file.aiff {
    background-image: url('../img/icons/file-type/aiff.png');
}
span.file.avi {
    background-image: url('../img/icons/file-type/avi.png');
}
span.file.c {
    background-image: url('../img/icons/file-type/c.png');
}
span.file.css {
    background-image: url('../img/icons/file-type/css.png');
}
span.file.dat {
    background-image: url('../img/icons/file-type/dat.png');
}
span.file.doc {
    background-image: url('../img/icons/file-type/doc.png');
}
span.file.eps {
    background-image: url('../img/icons/file-type/eps.png');
}
span.file.exe {
    background-image: url('../img/icons/file-type/exe.png');
}
span.file.flac {
    background-image: url('../img/icons/file-type/flac.png');
}
span.file.flv {
    background-image: url('../img/icons/file-type/flv.png');
}
span.file.html {
    background-image: url('../img/icons/file-type/html.png');
}
span.file.htm {
    background-image: url('../img/icons/file-type/html.png');
}
span.file.m4v {
    background-image: url('../img/icons/file-type/m4v.png');
}
span.file.mov {
    background-image: url('../img/icons/file-type/mov.png');
}
span.file.mp3 {
    background-image: url('../img/icons/file-type/mp3.png');
}
span.file.mpg {
    background-image: url('../img/icons/file-type/mpg.png');
}
span.file.mp4 {
    background-image: url('../img/icons/file-type/mpg.png');
}
span.file.odf {
    background-image: url('../img/icons/file-type/odf.png');
}
span.file.ods {
    background-image: url('../img/icons/file-type/ods.png');
}
span.file.odt {
    background-image: url('../img/icons/file-type/odt.png');
}
span.file.otp {
    background-image: url('../img/icons/file-type/otp.png');
}
span.file.ots {
    background-image: url('../img/icons/file-type/ots.png');
}
span.file.ott {
    background-image: url('../img/icons/file-type/ott.png');
}
span.file.pdf {
    background-image: url('../img/icons/file-type/pdf.png');
}
span.file.ppt {
    background-image: url('../img/icons/file-type/ppt.png');
}
span.file.psd {
    background-image: url('../img/icons/file-type/psd.png');
}
span.file.py {
    background-image: url('../img/icons/file-type/py.png');
}
span.file.qt {
    background-image: url('../img/icons/file-type/qt.png');
}
span.file.rar {
    background-image: url('../img/icons/file-type/rar.png');
}
span.file.rtf {
    background-image: url('../img/icons/file-type/rtf.png');
}
span.file.sql {
    background-image: url('../img/icons/file-type/sql.png');
}
span.file.tgz {
    background-image: url('../img/icons/file-type/tgz.png');
}
span.file.tiff {
    background-image: url('../img/icons/file-type/tiff.png');
}
span.file.tif {
    background-image: url('../img/icons/file-type/tiff.png');
}
span.file.txt {
    background-image: url('../img/icons/file-type/txt.png');
}
span.file.wav {
    background-image: url('../img/icons/file-type/wav.png');
}
span.file.wmv {
    background-image: url('../img/icons/file-type/wmv.png');
}
span.file.xls {
    background-image: url('../img/icons/file-type/xls.png');
}
span.file.xlsx {
    background-image: url('../img/icons/file-type/xlsx.png');
}
span.file.xml {
    background-image: url('../img/icons/file-type/xml.png');
}
span.file.zip {
    background-image: url('../img/icons/file-type/zip.png');
}
